:root{
	--cor-fundo: #012810;
}
*{
	box-sizing: border-box;
}
header,nav,footer{
	background-color:var(--cor-fundo);
}
a{
	color:white;
}
.verde{
	background-color:var(--cor-fundo);
	padding: 0;
}
.offcanvas-body{
	background-color:var(--cor-fundo)
}
.redondo{
	border-radius: 50px;
}
.rodape{
	background-color: #001508;
	padding: 0;
}
figure{
	margin: 0;
	padding: 0;
	border: 0;
}
